---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mapleton Springs B&B</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    
  </head>
  <body>
    <Header></Header>

    <main class="text-center bg-off-white text-green1 pb-20">
      <h1 class="py-10 text-3xl">Facilities</h1>
      <div class="flex justify-evenly">
        <div class="max-w-80 space-y-20">
          <div>
            <img src="/public/pool.webp" class="h-48 m-auto"></img>
            <h2 class="font-bold">Infinity Edge Pool</h2>
            <p>Enjoy a relaxing swim in our solar heated (Sept - Apr) pool. Complimentary Pool towels availble.</p>
          </div>
          <div>
            <img src="/public/spa.webp" class="h-48 m-auto"></img>
            <h2 class="font-bold">Hot Tub / Spa</h2>
            <p>Soak your troubles away under the stars in anytime of the year.</p>
          </div>
          <div>
            <img src="/public/cinema_room.webp" class="h-48 m-auto"></img>
            <h2 class="font-bold">Cinema Room</h2>
            <p>Enjoy  Netflix, Prime or Live TV in r in the cinema room.</p>
          </div>
          <div>
            <img src="/public/fireplace.webp" class="h-48 m-auto"></img>
            <h2 class="font-bold">Open Woodfire</h2>
            <p>Available April - Sept can be found in the guest lounge room  with complimentary marshmallows.</p>
          </div>
          <div>
            <img src="/public/bbq.webp" class="h-48 m-auto"></img>
            <h2 class="font-bold">Outdoor Kitchen</h2>
            <p>A BBQ & side burner are available for your use. Inside the cupboard you will find utensils and items to assist. Guests enjoy meats from <a class="underline">Nambour Heights Butchers.</a></p>
          </div>
        </div>
        <div class="max-w-80 space-y-20">
          <div>
            <img src="/public/bar.webp" class="h-48 m-auto"></img>
            <h2 class="font-bold"></h2>
            <p>A selection of drinks, ice-creams and frozen meals are available to purchase at reasonable prices.</p>
            <a class="underline">Select here to see prices.</a>
          </div>
          <div>
            <img src="/public/ping_pong.webp" class="h-48 m-auto"></img>
            <h2 class="font-bold">Table Tennis</h2>
            <p>Please let me know if you would like the table tennis table set up in the guest lounge room.</p>
          </div>
          <div>
            <img src="/public/laundry.webp" class="h-48 m-auto"></img>
            <h2 class="font-bold">Laundry</h2>
            <p>Washing machine, dryer and complimentary detergent available.</p>
          </div>
          <div>
            <img src="/public/mobile massage.webp" class="h-48 m-auto"></img>
            <h2 class="font-bold">Massage</h2>
            <p>Single or couples massages are available for booking with Juliette;s Mobile Massage. 0429179074</p>
          </div>
          <div>
            <img src="/public/games.webp" class="h-48 m-auto"></img>
            <h2 class="font-bold">Games, Books, Puzzles</h2>
            <p>A selection of books, games and puzzles are available for your use. Please find them in the office/reception.</p>
          </div>
        </div>
      </div>
    </main>
    
    <Footer></Footer>
  </body>
</html>
