---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mapleton Springs B&B</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    
  </head>
  <body>
    <Header></Header>

    <main>
      <div class="py-12">
        <ol class="carouselParent *:text-center *:items-center *:max-w-3xl *:m-auto">
          <li class="py-14 flex">
            <img src="/" class="h-96 w-96"></img>
            <p>
              This is the only room with a large spa bath, double rain shower
              and double vanity.
            </p>
          </li>
          <li class="invisible py-14">
            <img src="/" class="m-auto h-96 "></img>
            <p>King sized bed, ensuite and kitchenette.</p>
          </li>
          <li class="invisible py-14">
            <img src="/" class="m-auto h-96 "></img>
            <p>King sized bed with smart television and free Netflix.</p>
          </li>
          <li class="invisible py-14">
            <img src="/" class="m-auto h-96 "></img>
            <p>
              Modern ensuite bathroom with large spa bath, two showers and
              double vanity. Complimentary shampoo, conditioner and body wash.
              Linen is all hired to ensure Covid safety.
            </p>
          </li>
          <li class="invisible py-14">
            <img src="/" class="m-auto h-96 "></img>
            <p>
              Air conditioning, ceiling fan and USB charging ports above to
              bedside tables.
            </p>
          </li>
          <li class="invisible py-14">
            <img src="/" class="m-auto h-96 "></img>
            <p>
              Terrace with reclining chairs and footrests to enjoy nature and
              the stunning Hinterland Valley Views.
            </p>
          </li>
          <li class="invisible py-14">
            <img src="/" class="m-auto h-96 "></img>
            <p>
              Kitchenette with bar fridge, microwave, kettle and complimentary
              tea, coffee and milk.
            </p>
          </li>
        </ol>
      </div>
    </main>

    <Footer></Footer>
  </body>
</html>
