<header class="bg-lime py-8 font-sans text-2xl text-white">
  <div class="p flex justify-evenly font-bold">
    <a
      class="rounded-xl bg-green1 px-5"
      href="https://book-directonline.com/properties/mapletonspringsdirect"
      >Book Now</a
    >
    <a
      class="rounded-xl bg-green1 px-5"
      href="https://book-directonline.com/properties/mapletonspringsdirect"
      >Check Availability</a
    >
  </div>
  <nav>
    <ol class="flex flex-wrap justify-center italic">
      <li>
        <a href="index.html">
          <div class="p-3">
            <h1>Home</h1>
          </div>
        </a>
      </li>
      <li>
        <a href="rooms.html">
          <div>
            <h1 class="p-3">Rooms</h1>
          </div>
        </a>
      </li>
      <li>
        <a href="facilities.html">
          <div>
            <h1 class="p-3">Facilities</h1>
          </div>
        </a>
      </li>
      <li>
        <a href="eats.html">
          <div class="group">
            <h1 class="p-3">Eats</h1>
            <div class="p-3 *:block hidden group-hover:block absolute shadow-xl bg-lime text-center space-y-3 rounded-xl transform -translate-x-24">
              <a href="breakfast-options-locally.html">Breakfast Options Locally</a>
              <a href="restaurants.html">Restaurants</a>
              <a href="snacks.html">Snacks</a>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="reviews.html">
          <div>
            <h1 class="p-3">Reviews</h1>
          </div>
        </a>
      </li>
      <li>
        <a href="faqs.html">
          <div>
            <h1 class="p-3">FAQs</h1>
          </div>
        </a>
      </li>
      <li>
        <a href="things-to-do.html">
          <div>
            <h1 class="p-3">Things to Do</h1>
          </div>
        </a>
      </li>
      <li>
        <a href="gift-vouchers.html">
          <div>
            <h1 class="p-3">Gift Vouchers</h1>
          </div>
        </a>
      </li>
      <li>
        <a href="about-us.html">
          <div>
            <h1 class="p-3">About</h1>
          </div>
        </a>
      </li>
      <li>
        <a>
          <div class="group">
            <h1 class="p-3">More</h1>
            <div class="p-3 *:block hidden group-hover:block absolute shadow-xl bg-lime text-center space-y-3 rounded-xl transform -translate-x-20">
              <h1>Terms & Conditions</h1>
              <h1>Search Results</h1>
              <h1>Blog</h1>
            </div>
          </div>
        </a>
      </li>
    </ol>
  </nav>
</header>